body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;

    color: #333;
   
}

header,
.section,
.footer {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #e6e6fa;
    text-align: center;
}

header h1 {
    font-family: 'Merriweather', serif;
    color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #6a5acd;
}

.section h2 {
    font-family: 'Merriweather', serif;
    color: #444;
    margin-top: 0;
}


.video-gallery video {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.button {
    background-color: #add8e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #87ceeb;
}

footer {
    background-color: #e6e6fa;
    text-align: center;
    padding: 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header img{
  
    margin: 100px;
}

.header h1{
    align-items: center;
    text-decoration: dashed;
}
.photo-gallery img{
    background-size: cover;
    background-position: center;
    margin-left: 2px;
    margin-right: 2px; 
   
}
.photo-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}